.gt-heading-border
  height 5px
  background-image linear-gradient(to right, #20251f 0, #aa3b44 10%, #1e2f5a 25%, #dfdfc7 75%)

.gt-heading
  background-color #25355a
  color #dfdfc7

.gt-instructions,
.gt-coordinates
  margin 20px 0

.gt-warn
  background-color #aa3b44
  color #fff

  a
    color #dfdfc7

.gt-video
  max-width 900px
  margin 0 auto
