.sc-heading
  padding 10px

.sc-content,
.sc-aside
  text-align left

.sc-content
  padding 20px 30px

@media only screen and (min-width: 990px)
  .sc-media-990,
  .sc-media-990-1-3,
  .sc-media-990-2-3
    display inline-block
    vertical-align top

  .sc-media-990
    width 50%

  .sc-media-990-1-3
    width 40%

  .sc-media-990-2-3
    width 30%
